.about {
  padding-top: 250px;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: auto;
}

.about__text {
  text-align: left;
  padding: 1px 2px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;

  color: #34404b;
  margin-bottom: 10px;
}

.about__link {
  color: #ff5912;
}

.about__title {
  padding: 1px 2px;
  font-size: 30px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;

  color: #34404b;
  margin-bottom: 30px;
}

@media (max-width: 420px) {
  .about__title {
    font-size: 25px;
  }
  .about__text {
    font-size: 20px;
  }
}
@media (max-width: 340px) {
  .about__text {
    font-size: 18px;
  }

  .about__title {
    font-size: 20px;
  }
}
