.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f7f4f4;
  text-align: center;
  &__inner {
    padding: 40px 40px 20px 40px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    margin-bottom: 300px;
  }
  &__title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #414b53;
  }
  &__paragraph {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #34404b;
    a {
      color: #ff5912;
    }
  }
}
