@font-face {
  font-family: 'Harmonia Sans Pro Cyr';
  src: url('../fonts/HarmoniaSansProCyr-Black.eot');
  src: local('Harmonia Sans Pro Cyr Black'),
    local('../fonts/HarmoniaSansProCyr-Black'),
    url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Harmonia Sans Pro Cyr';
  src: url('../fonts/HarmoniaSansProCyr-BoldIt.eot');
  src: local('Harmonia Sans Pro Cyr Bold Italic'),
    local('../fonts/HarmoniaSansProCyr-BoldIt'),
    url('../fonts/HarmoniaSansProCyr-BoldIt.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-BoldIt.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-BoldIt.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Harmonia Sans Pro Cyr Semi Bd';
  src: url('../fonts/HarmoniaSansProCyr-SemiBdIt.eot');
  src: local('Harmonia Sans Pro Cyr Semi Bold Italic'),
    local('../fonts/HarmoniaSansProCyr-SemiBdIt'),
    url('../fonts/HarmoniaSansProCyr-SemiBdIt.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-SemiBdIt.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-SemiBdIt.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-SemiBdIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Harmonia Sans Pro Cyr';
  src: url('../fonts/HarmoniaSansProCyr-Light.eot');
  src: local('Harmonia Sans Pro Cyr Light'),
    local('../fonts/HarmoniaSansProCyr-Light'),
    url('../fonts/HarmoniaSansProCyr-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Light.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Light.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Harmonia Sans Pro Cyr';
  src: url('../fonts/HarmoniaSansProCyr-BlackIt.eot');
  src: local('Harmonia Sans Pro Cyr Black Italic'),
    local('../fonts/HarmoniaSansProCyr-BlackIt'),
    url('../fonts/HarmoniaSansProCyr-BlackIt.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-BlackIt.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-BlackIt.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Harmonia Sans Pro Cyr';
  src: url('../fonts/HarmoniaSansProCyr-Bold.eot');
  src: local('Harmonia Sans Pro Cyr Bold'),
    local('../fonts/HarmoniaSansProCyr-Bold'),
    url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Harmonia Sans Pro Cyr';
  src: url('../fonts/HarmoniaSansProCyr-LightIt.eot');
  src: local('Harmonia Sans Pro Cyr Light Italic'),
    local('../fonts/HarmoniaSansProCyr-LightIt'),
    url('../fonts/HarmoniaSansProCyr-LightIt.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-LightIt.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-LightIt.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Harmonia Sans Pro Cyr Cond';
  src: url('../fonts/HarmoniaSansProCyr-BoldCond.eot');
  src: local('Harmonia Sans Pro Cyr Bold Cond'),
    local('../fonts/HarmoniaSansProCyr-BoldCond'),
    url('../fonts/HarmoniaSansProCyr-BoldCond.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-BoldCond.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-BoldCond.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-BoldCond.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Harmonia Sans Pro Cyr';
  src: url('../fonts/HarmoniaSansProCyr-Italic.eot');
  src: local('Harmonia Sans Pro Cyr Italic'),
    local('../fonts/HarmoniaSansProCyr-Italic'),
    url('../fonts/HarmoniaSansProCyr-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Harmonia Sans Pro Cyr Semi Bd';
  src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot');
  src: local('Harmonia Sans Pro Cyr Semi Bd'),
    local('../fonts/HarmoniaSansProCyr-SemiBd'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Harmonia Sans Pro Cyr';
  src: url('../fonts/HarmoniaSansProCyr-Regular.eot');
  src: local('Harmonia Sans Pro Cyr'),
    local('../fonts/HarmoniaSansProCyr-Regular'),
    url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Harmonia Sans Pro Cyr SemiBdCn';
  src: url('../fonts/HarmoniaSansProCyr-SemiBdCn.eot');
  src: local('Harmonia Sans Pro Cyr Semi Bold Cond'),
    local('../fonts/HarmoniaSansProCyr-SemiBdCn'),
    url('../fonts/HarmoniaSansProCyr-SemiBdCn.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-SemiBdCn.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-SemiBdCn.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-SemiBdCn.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Harmonia Sans Pro Cyr Cond';
  src: url('../fonts/HarmoniaSansProCyr-Cond.eot');
  src: local('Harmonia Sans Pro Cyr Cond'),
    local('../fonts/HarmoniaSansProCyr-Cond'),
    url('../fonts/HarmoniaSansProCyr-Cond.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Cond.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Cond.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
