.goods {
  min-height: 90vh;
  position: relative;
  grid-area: content;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__img-cont {
    margin: 0 auto 30px;
    position: relative;
    width: 110px;
    height: 140px;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__item {
    position: relative;
    flex: 1 1 33.3%;
    max-width: 270px;
    height: 354px;
    background-color: #ffffff;
    min-width: 220px;
    padding: 30px 0;
    text-align: center;
    transition: all 0.1s linear;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
  }
  &__item-cross {
    padding: 5px;
    position: absolute;
    top: 6px;
    right: 6px;
    color: #dbdbdb;
    height: 30px;
    width: 30px;

    cursor: pointer;
    z-index: 11;
    transition: all 0.1s linear;
    &:hover {
      color: #ff5912;
      transform: scale(1.3);
    }
  }
  &__title {
    font-family: 'Harmonia Sans Pro Cyr';
    padding: 0 5px;
    text-align: center;
    font-size: 18.1px;
    font-weight: 700;
    color: #34404b;
    height: 55px;
    overflow: hidden;
    margin-bottom: 17px;
  }
  &__prise {
    display: inline-block;
    bottom: 50px;
    font-family: 'Harmonia Sans Pro Cyr';
    font-size: 18.1px;
    font-weight: 700;
    color: #ff5912;
    margin-bottom: 13px;
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__svg-cont {
    width: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__heart-svg,
  &__cart-svg {
    cursor: pointer;
    z-index: 11;
    height: 22px;
    width: 22px;
    color: #b3b3b6;
    &:hover {
      transition: all 0.1s linear;
      transform: scale(1.2);
      color: #34404b;
    }
  }

  &__svg-link {
    z-index: 10;
  }
  &__stub {
    height: 60px;
    font-size: 16px;
    color: #34404b;
    max-width: 450px;
    margin: 200px auto 0;
  }
  &__item-inner {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
  }
}

@media (max-width: 800px) {
  .goods {
    gap: 10px;
    &__item {
      min-width: 202px;
      padding: 15px 0;
      height: 324px;
    }
  }
}
@media (max-width: 438px) {
  .goods {
    justify-content: center;
    &__item {
      min-width: 202px;
      padding: 15px 0;
      height: 324px;
    }
  }
}
